.contests {
  margin: 0 80px;
}
.contests__menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.contests__menu-search-box {
  width: 50%;
}
.contests__menu-search-box-input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  border: 1px solid var(--line-color);
  border-radius: 5px;
  padding: 0 16px;
}
.contests__menu-search-box-input::placeholder {
  font-size: 16px;
  font-weight: 500;
}
.contests__menu-search-box-input:focus {
  outline: 3px solid var(--sub-color);
}
.contests__menu-display {
  font-weight: 500;
  color: var(--text-color);
  opacity: 0.7;
}

.contests__btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}
.contests__menu-btn {
  font-size: 18px;
  padding: 0 16px;
  color: var(--text-color);
  cursor: pointer;
}

.contests__menu-btn:hover .contests__menu-btn-icon {
  color: var(--prime-color);
}

.contests__menu-btn-icon.active {
  color: var(--prime-color);
}

.contests__menu-btn-bar {
  z-index: 1060;
  min-width: 560px;
  max-height: 500px;
  /* height: 200px; */
  /* width: 100%;
	height: 100%; */
  background: #fff;
  border-radius: 5px;
  border: 1px solid var(--line-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 60px; /* hoặc bao nhiêu px tùy đệ muốn */
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  cursor: default;
  overflow-y: auto;
}

.contests__menu-btn-bar.hide {
  display: none;
}

.contests__menu-btn-bar__header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--sub-line-color);
}

.contests__menu-btn-bar__title {
  font-size: 24px;
  font-weight: 600;
}

.contests__menu-btn-bar__btn-close {
  font-size: 24px;
  cursor: pointer;
}

.contests__menu-btn-bar__btn-close:hover {
  color: var(--prime-color);
}

.contests__menu-btn-bar__body {
  padding: 20px;
}

.contests__menu-btn-bar__view-settings {
  margin-bottom: 24px;
}
.contests__menu-btn-bar__view-settings-title {
  font-weight: 500;
  margin-bottom: 12px;
}
.contests__menu-btn-bar__view-settings-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contests__menu-btn-bar__view-settings-item {
  color: var(--text-color);

  border: 1px solid var(--line-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contests__menu-btn-bar__view-settings-item-text {
  padding: 12px 16px;
  margin-right: 12px;
  border-right: 1px solid var(--line-color);
  font-weight: 400;
}

.contests__menu-btn-bar__view-settings-item-btn {
  border: 2px solid var(--line-color);
  color: #fff;
  border-radius: 5px;
  margin-right: 12px;
  font-size: 12px;
  padding: 1px;
  cursor: pointer;
}

.contests__menu-btn-bar__view-settings-item.active
  .contests__menu-btn-bar__view-settings-item-btn {
  background-color: var(--prime-color);
  border: 2px solid var(--prime-color);
  color: #fff;
}

.contests__menu-btn-bar__solve-status-selector {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  margin-bottom: 12px;
}

.contests__menu-btn-bar__solve-status-selector-title {
  font-weight: 500;
}

.contests__menu-btn-bar__solve-status-selector-group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.contests__menu-btn-bar__solve-status-selector-btn {
  padding: 12px 52px;
  margin: 0 8px;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  background-color: var(--disable-color);
  cursor: pointer;
}

.contests__menu-btn-bar__solve-status-selector-btn:hover {
  opacity: 0.8;
}

.contests__menu-btn-bar__solve-status-selector-btn.active {
  background-color: var(--prime-color);
  opacity: 1;
}

.contests__menu-btn-bar__tag-selector-multi-select {
  overflow: visible;
  display: flex;
  align-items: center;
  position: relative;
}
.contests__menu-btn-bar__tag-selector-multi-select i {
  position: absolute;
  top: 12px;
  right: 16px;
}

.contests__menu-btn-bar__tag-selector-multi-select select {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  text-align: center;
  text-align-last: center;
  padding: 10px 24px;
  border-radius: 5px;
  border: 1px solid var(--line-color);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  font-weight: 400;
}

.contests__menu-btn-bar__tag-selector-multi-select:hover select {
  outline: 1px solid var(--sub-color);
}
.contests__menu-btn-bar__tag-selector-multi-select select:focus {
  outline: 1px solid var(--sub-color);
}

.contest__category-tabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
}

.contest__category-tabs-item {
  padding: 12px 16px;
  background-color: var(--disable-color);
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  border-right: 1px solid var(--line-color);
}

.contest__category-tabs-item:first-child {
  border-radius: 5px 0 0 5px;
}

.contest__category-tabs-item:last-child {
  border-radius: 0 5px 5px 0;
}

.contest__category-tabs-item:hover {
  opacity: 0.8;
}

.contest__category-tabs-item.active {
  background-color: var(--prime-color);
}

.contests__table {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: scroll; /* hoặc scroll */
}

.contests__table__thread {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-left: 1px solid var(--line-color);
}

.contests__table__thread-item {
  height: 48px;
  padding: 16px 24px;
  border-top: 1px solid var(--line-color);
  border-right: 1px solid var(--line-color);
  border-bottom: 1px solid var(--line-color);
  font-weight: 600;
}
.contests__table__thread-item-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.contests__table__thread-item-text:first-child {
  text-align: center;
}

.contests__table__content {
  width: 100%;
  display: flex;
  align-items: first baseline;
  flex-direction: column;
  border-left: 1px solid var(--line-color);
}

.contests__table__content-container {
  display: flex;
}

.contests__table__content-item-group {
  display: flex;
  flex-wrap: wrap;
}

.contests__table__content-item {
  max-width: 160px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 24px;
  border-right: 1px solid var(--line-color);
  border-bottom: 1px solid var(--line-color);
  line-height: 1.4;
  font-size: 16px;
  font-weight: 500;
  font-size: 16px;
  flex-wrap: wrap;
}

.contests__table__content-item.solved {
  background-color: var(--solved-color);
}
.contests__table__content-item.attemped {
  background-color: var(--attemped-color);
}

.contests__table__content-item:first-child {
  justify-content: center;
}

.contests__table__content-item .contests__table__content-item-title.clean {
  display: block;
  width: 100%;
  max-width: 120px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contests__table__content-item-group {
  position: relative;
}

.contests__table__content-item-rating {
  display: none;
  font-size: 16px;
  font-weight: 500;
}

.contests__table__content-item-rating.active {
  display: flex;
}

.contests__table__content-item-title {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.contests__table__content-item-title-div {
  display: none;
  width: 80px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: -12px;
  font-weight: 600;
  font-size: 12px;
}

.contests__table__content-item-title-div.active {
  display: flex;
}

.contests__table__content-item-title-date {
  display: none;
  color: var(--prime-color);
  font-weight: 600;
  font-size: 14px;
}

.contests__table__content-item-title-date.active {
  display: block;
}

.contests__page-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  padding: 12px;
}

.contests__page-bar-container {
  display: flex;
  border-radius: 5px;
  border-bottom: solid 1px var(--line-color);
  border-right: solid 1px var(--line-color);
}

.contests__page-bar-item--arrow:first-child {
  border-radius: 5px 0 0 5px;
}

.contests__page-bar-item--arrow:last-child {
  border-radius: 0px 5px 5px 0;
}

.contests__page-bar-item--arrow:hover {
  color: var(--highlight-color);
  background-color: var(--prime-color);
  border: solid 1px var(--prime-color) !important;
}

.contests__page-bar-item {
  padding: 8px 16px;
  line-height: 1.4;
  border-top: solid 1px var(--line-color);
  border-left: solid 1px var(--line-color);
  cursor: pointer;
  color: var(--text-color);
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.contests__page-bar-item--info {
  border: none;
  cursor: default;
}
.contests__page-bar-item--per-page,
.contests__page-bar-item--goto {
  padding: 0;
  margin-right: 16px;
  border-radius: 5px;
}

.contests__page-bar-item--goto span,
.contests__page-bar-item--goto input {
  padding: 8px;
  border-right: solid 1px var(--line-color);
  border-bottom: solid 1px var(--line-color);
}
.contests__page-bar-item--per-page span,
.contests__page-bar-item--goto span {
  border-radius: 5px 0 0 5px;
  font-weight: 500;
  cursor: default;
}

.contests__page-bar-item--goto input {
  padding-left: 12px;
  border-radius: 0 5px 5px 0;
  width: 100px;
  min-width: 100px;
  font-weight: 500;
  cursor: pointer;
}

.contests__page-bar-item--goto input {
  cursor: text;
}

.contests__page-bar-item--goto input:focus {
  outline: 3px solid var(--prime-color);
}

.contests__page-bar-item--per-page {
  border-right: solid 1px var(--line-color);
  border-bottom: solid 1px var(--line-color);
}

.contests__page-bar-item--per-page select {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 12px;
  border-radius: 0 5px 5px 0;
  width: 80px;
  min-width: 50px;
  font-weight: 500;
  cursor: pointer;
}

.contests__page-bar-item--per-page span {
  border-right: solid 1px var(--line-color);
}

.contests__page-bar-item--per-page span,
.contests__page-bar-item--per-page select {
  padding: 8px;
}
.contests__page-bar-item--per-page select:focus {
  outline: none;
}

.contests__page-bar-item--per-page-container {
  position: relative;
}

.contests__page-bar-item--per-page-container:hover {
  outline: 3px solid var(--prime-color);
  border-radius: 0 5px 5px 0;
}

.contests__page-bar-item--per-page-container:hover i {
  color: var(--prime-color);
}

.contests__page-bar-item--per-page i {
  margin-right: 8px;
  pointer-events: none;
  position: absolute;
  bottom: 10px;
  right: 0px;
}

.contests__modal.show {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
