.scroll-up-btn {
  position: fixed;
  color: #fff;
  background-color: var(--prime-color);
  height: 60px;
  width: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  right: 12px;
  bottom: 48px;
  cursor: pointer;
}

.scroll-up-btn:hover {
  transform: translateY(-3px);
  transition: 0.3 ease;
}
