/* .App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #283433;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-size: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* just testing */
/* table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
} */

:root
{
  font-family: "Fira Sans";
}

.p-1{
  color: white;
  /* border-radius: 6px; */
  border: 1px solid #6c757d;
  padding: 5px 17px;
  background: #6c757d;
  font-size: 18px;
  /* font-family: "Roboto", sans-serif; */
  cursor: pointer;
}

.p-2
{
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  overflow: hidden;
  color: white;
  border: 1px solid #6c757d;
  padding: 5px 17px;
  background: #6c757d;
  font-size: 18px;
  /* font-family: "Roboto", sans-serif; */
  cursor: pointer;
}

.p-3
{
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
  color: white;
  border: 1px solid #6c757d;
  padding: 5px 17px;
  background: #6c757d;
  font-size: 18px;
  /* font-family: "Roboto", sans-serif; */
  cursor: pointer; 
}

.p-1:hover, .p-1:focus
{
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.04em);
  background-color: #5a6268;
  color: white;
}

.p-1:active {
  color: white !important;
  background: #5a6268;
}

.p-2:hover, .p-2:focus
{
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.04em);
  background-color: #5a6268;
  color: white;
}

.p-2:active {
  color: white !important;
  background: #5a6268;
}

.p-3:hover, .p-3:focus
{
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.04em);
  background-color: #5a6268;
  color: white;
}

.p-3:active {
  color: white !important;
  background: #5a6268;
}

.btn-group
{
  margin: 0.1rem;
  padding: 0.4rem;
}

.button-2 {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  /* font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-2:hover, .button-2:focus
{
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.04em);
  background-color: #5a6268;
  color: white;
}

.button-2:active {
  color: white !important;
  background: #5a6268;
}

.p-4
{
  color: white;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sterryn
{
  background: #33414d;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 1px solid #6c757d;

}