body {
  font-family: "Montserrat", sans-serif;
}

.width-8 {
  width: 8%;
}
.width-16 {
  width: 16%;
}
.width-32 {
  width: 32%;
}
.width-64 {
  width: 64%;
}

.cursor-pointer {
  cursor: pointer;
}
